@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');




/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/* Set Background Image*/
/* body { 
  background: url(img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

#flyover{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 750px) {
  #flyover { display: none; }
  body {
    background: url(img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}



/* @media (min-width: 751px) { */
  .name {   
    font-size: 90px;
    color:white;
    padding-top: 5%;
    padding-bottom: 0%;
    font-family: 'Source Code Pro', monospace; 

  }
  .major{
    font-family: 'Source Code Pro', monospace;
    font-size: 90px;
    color: white;
    padding-top: 2%;
    padding-bottom: 0%;
    margin: 0;
  }
  .img-fluid {
    height: auto;
    width: 45%;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .typing-demo {
    width: 16ch;
    animation: typing 2.5s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1.5px solid;
  }
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  li {
    display:inline-block;
    padding:5px;
    transition: 0.3s ease;
    font-size: 20px;
    text-decoration: none;
    margin: 0 5px;
    font-size: 17px;
   }
  
  li:hover {
    border-bottom: 1px solid rgba(255, 0, 106, 0.37);
    padding: 6px 0; 
  }
  .nav-item a:hover { 
    color: rgba(0, 0, 0, 0.527) !important; 
  
  }
  .navbar-nav a {
    font-family: 'Merriweather', monospace;
    font-size:larger;
    font-weight: bold;
  }

  .nav-link{

  }
  #footer {
    width: 100%;
    position: fixed;
    bottom: -15px;
    background-color: black;
  }
  #contact {
    font-family: 'Open Sans', monospace !important;
  }
  .mb-4{
    margin-bottom: 1px !important;
  }
  .btn-outline-light{
    border: none;
  }
/* } */

/* NavBar Padding and Hover Effects*/
@media (max-width: 750px) {
  .name {   
    font-size: 35px;
    color:white;
    padding-top: 5%;
    padding-bottom: 0%;
    font-family: 'Source Code Pro', monospace; 
    margin-top: 140px;

  }
  .major{
    font-family: 'Source Code Pro', monospace;
    font-size: 35px;
    color: white;
    padding-top: 2%;
    padding-bottom: 0%;
    margin: 0;
  }
  .img-fluid {
    height: auto;
    width: 90%;
  }
  #footer {
    width: 100%;
    position: fixed;
    bottom: -15px;
    background-color: black;
  }
  #contact {
    font-family: 'Open Sans', monospace;
  }
}

/*Make Nav-Bar Transparent*/
#nav-bar {
  background-color: transparent !important; 
}

/* NAV BAR ICONS */
.fa-github{
  color: #3b5998;
}
.fa-twitter{
  color: #00acee;
}
.fa-linkedin-in{
  color: #0e76a8;
}
/**********************************/

/* For Name, School and Major*/

/* .major{
  font-family: 'Source Code Pro', monospace;
  font-size: 50px;
  color: white;
  padding-top: 2%;
  padding-bottom: 0%;
  margin: 0;
}

.name{
  font-size: 65px;
  color:white;
  padding-top: 5%;
  padding-bottom: 0%;
  font-family: 'Source Code Pro', monospace;

} */

/*Name, School, Major Fade In*/
#container {
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/**********************************/
/*Projects.html*/
.btnprj {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}
@media (max-width: 576px) {
  .card-img-top-proj {
    width: 100%;
    height: 50vw;
    object-fit: cover;
  }
}
@media (max-width: 991px) and  (min-width: 576px){
  .card-img-top-proj {
    width: 100%;
    height: 35vw;
    object-fit: cover;
  }
}
@media (min-width: 992px){
  .card-img-top-proj {
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }
  .card-small {
    width: 25vw;
    margin: 0 auto;
  }
}
.project-desktop{
  padding-bottom: 2%;
}
.col-lg-4.projects.d-flex.align-items-stretch{
  padding-bottom: 8rem;
}
/***********************/

/* FOOTER */


/* FOOTER ICONS */
.fa-github:hover {
  color: #a8a8a8;
}
.fa-twitter:hover {
  color: #a8a8a8;
}
.fa-linkedin-in:hover {
  color: #a8a8a8;
}




